header {
  background-color: palegoldenrod;
}

footer {
  position: fixed;
  bottom: 0;
  border: 1px solid crimson;
  padding: 0.5rem;
  background-color: lightpink;
}

/* UNUSED CSS: to test scully plugin */

.unused-css {
  color: red;
}