<header>
  <p style="font-size: 2rem">Let's start exploring!</p>
  <p style="font-size: 1.5rem">{{ title }}</p>
</header>

<h1>Trying plugins...</h1>
<ul>
  <li>Chromium - use Ubuntu Xenial 16.04</li>
  <li>HTML & CSs minifiers</li>
  <li>Algolia</li>
  <li>Sitemap</li>
  <li>others...</li>
</ul>

<h2>MENU</h2>
<ul>
  <li><a routerLink="home">Home</a></li>
  <li><a routerLink="about">About</a></li>
</ul>
<hr />

<!-- Algolia -->
<small style="color: mediumslateblue; background-color: lavender">
  Algolia Crawler
</small>
<div id="search"></div>

<hr />

<!-- sign in / sign up -->
<app-navigation></app-navigation>

<hr />

<router-outlet></router-outlet>

<footer *ngIf="mode !== ''">
  {{ mode }}
</footer>
