<header>
  <h1>Let's start exploring!</h1>
  <h2>{{ title }}</h2>
</header>

<h3>Trying plugins...</h3>
<ul>
  <li>Chromium - use last OS Build Image</li>
  <li>HTML & CSs minifiers</li>
  <li>Algolia</li>
  <li>Sitemap</li>
  <li>Subfonr</li>
  <li>others...</li>
</ul>

<!-- sign in / sign up -->
<app-navigation></app-navigation>

<hr />

<main>
  <router-outlet></router-outlet>
</main>

<footer
  *ngIf="mode !== ''"
  style="
    position: fixed;
    bottom: 0;
    border: 1px solid crimson;
    padding: 0.5rem;
    background-color: lightpink;
  "
>
  {{ mode }}
</footer>
