<header>
  <p style="font-size: 2rem">Let's start exploring!</p>
  <p style="font-size: 1.5rem">{{ title }}</p>
</header>

<small>Trying plugins...</small>

<ul>
  <li>Chromium - use Ubuntu Xenial 16.04</li>
  <li>HTML & CSs minifiers</li>
  <li>Algolia</li>
  <li>Sitemap</li>
  <li>others...</li>
</ul>

<h2>MENU</h2>
<ul>
  <li><a routerLink="home">Home</a></li>
  <li><a routerLink="about">About</a></li>
</ul>
<hr />

<!-- Algolia -->
<small style="color: mediumslateblue; background-color: lavender">
  Algolia Crawler
</small>
<!-- <div id="search"></div> -->

<!-- <ais-instantsearch [config]="algoliaConfig">
  HITS:
  <ais-hits style="background-color: palegreen; color: black"></ais-hits>
  <ais-search-box placeholder="Search for Cats..."></ais-search-box>
</ais-instantsearch> -->

<hr />

<!-- sign in / sign up -->
<app-navigation></app-navigation>

<hr />

<router-outlet></router-outlet>

<footer *ngIf="mode !== ''">
  {{ mode }}
</footer>
