<p>home works!</p>

<h3>Optimize me pliz!</h3>

<p>
  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Provident
  perspiciatis eos officia molestiae saepe similique quasi corporis! Harum
  veniam reiciendis quas illo possimus omnis nemo quibusdam magni quia
  reprehenderit. Laudantium. Ipsa voluptates fuga facilis laborum veniam, unde
  quia. Accusamus vero doloribus obcaecati quasi repudiandae praesentium unde,
  consequatur repellat rerum perspiciatis ea, dignissimos deleniti ratione atque
  et veniam dolores dolor! Quae. 
</p>

<!-- TODO: check img is optimized from 6.5Mb to... X -->
<img
  src="../../../assets/img/cicada-orni.jpg"
  width="572"
  height="auto"
  alt="cicada orni"
/>
